* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Mobile first title page*/
body {
    background-color: grey;
    display: block;
    font-family: 'Poppins', sans-serif;
}

header {
    font-size: 24px;
    display: block;
    visibility: hidden;
    text-align: center;
    margin: 100px;
}


ul {
    display: inline-block;
    position: absolute;
    text-align: right;
    right: 10px;
    top: 50px;
}

li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.title-page {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: auto;
    border-radius: 10px;
}

.title-page h1{
    margin: 10px;
}
.start-quiz{
    height: 50px;
    width: 100px;
    margin: 10px;
    border-radius: 10px;
}

.questionPage {
    display: none; 
}

h2 {
    display: block;
    text-align: center;
}

form {
    display: block;
    text-align: center;
}

.answerSelect {
    display: block;
    text-align: center;
}

form .answerSelect-row1 {
    display: inline-block;
}

form .answerSelect-row2 {
    display: block;
}

.correct-answer, .wrong-answer {
    display: block;
    text-align: center;
}