* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Mobile first title page*/
body {
    background-color: grey;
    display: block;
    font-family: 'Poppins', sans-serif;
}

header {
    font-size: 24px;
    display: block;
    visibility: visible;
    text-align: center;
    margin: 100px;
}


ul {
    display: inline-block;
    position: absolute;
    text-align: right;
    right: 10px;
    top: 50px;
}

li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.title-page {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: auto;
    border-radius: 10px;
}

.title-page h1{
    margin: 10px;
}
.start-quiz{
    height: 50px;
    width: 100px;
    margin: 10px;
    border-radius: 10px;
}
/* mobile first question page*/
.questionPage {
    display: none;
}

h2 {
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-content: center;
    border: 5px solid black;
    border-radius: 3px;
}

fieldset{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 50%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


form input[type="radio"]:checked + answerSelect{
    background-color: blue;
}

fieldset label {
    display: flex;
    width: auto;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.submitButton{
    width: 33%;
    height: 50px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

/*feedback page for correct & incorrect*/

h3{
    font-size: 30px;
}
.correct-answer{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    flex: 1 1 0;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.wrong-answer{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    flex: 1 1 0;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.answerImage {
    width: 40%;
    height: auto;
}

.nextButton{
    width: 40%;
    height: 30px;
}

@media screen and (min-width 700px){

}

@media screen and (min-width: 1024px){
    
}